node_modules
dist
coverage
coverage/clover.xml
coverage/lcov.info
coverage/lcov-report/index.html
coverage/lcov-report/signup.ts.html
coverage/coverage-final.json
coverage/lcov-report/signup.ts.html
coverage